@model Proyecto_AutoCheckList_NET6.Models.LoginViewModel
<h2>Iniciar sesión</h2>

<form method="post">
    <input type="hidden" asp-for="ReturnUrl" />

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label><input asp-for="RememberMe" /> Recordarme</label>

    <button type="submit">Ingresar</button>
</form>

<p>¿No tienes cuenta? <a asp-action="Register">Registrarse</a></p>
